<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Welcome to contacts</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
        </ul>
    </div>
</nav>
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<div class="container">

    <!-- List of contacts -->

    <div class="collection" >
        <!-- Add contact button -->
        <div class="row">
            <a class="col s12 waves-effect waves-light btn">Add new contact</a>
        </div>
        <div class="row collection-item hover" th:each="contact: ${contacts}" >
            <a href="#!" class="col s8 " th:text="${contact.name}"></a>
            <a class="col s2 waves-effect waves-light btn" th:href="'/edit-contact/'+${contact.id}">Edit</a>
            <a class="col s2 waves-effect waves-light btn" th:href="'/delete-contact/'+${contact.id}">Delete</a>
        </div>

    </div>


</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<style>
    .hover:hover{
        background-color: #0d484ed4;
    }

    .hover {
        padding: .5em;
        margin: 0;
    }
    a.col.s8{
        color:#00838f;
        font-family: Verdana,serif;
    }
    A:hover.s8{
        color: #fafafa;
    }

    body {
        background-color: #e0f2f1;
    }
</style>
</body>
</html>
