<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Welcome to contacts</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
        </ul>
    </div>
</nav>
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<div class="container">

    <!-- List of users -->
    <div class="collection">
        <div class="row collection-item hover">
            <a href="#!" class="col s8 ">Alvin</a>
            <a class="col s2 waves-effect waves-light btn">Edit</a>
            <a class="col s2 waves-effect waves-light btn">Delete</a>
        </div>
        <div class="row collection-item hover">
            <a href="#!" class="col s8 ">Alvin</a>
            <a class="col s2 waves-effect waves-light btn">Edit</a>
            <a class="col s2 waves-effect waves-light btn">Delete</a>
        </div>
        <div class="row collection-item hover">
            <a href="#!" class="col s8 ">Alvin</a>
            <a class="col s2 waves-effect waves-light btn">Edit</a>
            <a class="col s2 waves-effect waves-light btn">Delete</a>
        </div>
        <div class="row collection-item hover">
            <a href="#!" class="col s8 ">Alvin</a>
            <a class="col s2 waves-effect waves-light btn">Edit</a>
            <a class="col s2 waves-effect waves-light btn">Delete</a>
        </div>
    </div>

    <!-- Add user button -->
    <div class="row">
        <a class="col s12 waves-effect waves-light btn">Add new contact</a>
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<style>
    .hover:hover {
        background-color: #0d484ed4;
        color: white;
    }

    .hover {
        padding: .5em;
        margin: 0;
    }

</style>
</body>
</html>
