<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">Contact details</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
            </ul>
        </div>
    </nav>
</head>
<body>
<div class="container">
    <!-- Page Content goes here -->
    <table>
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>


    <div class="row">
        <a class="col s3 offset-s4 waves-effect waves-light btn-large contact-button" th:href="'/contacts'">Back</a>
    </div>
</div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
<style>
    .nav-wrapper {
        background-color: #7179DB;
    }

    body {
        background-color: #e0f2f1;
    }

    .col.s3.offset-s4.waves-effect.waves-light.btn-large.contact-button {
        background-color: #84DB9D;
    }


</style>

</html>
